<section>
  <h2 class="has-text-info has-text-centered is-size-3">Create New Post</h2>

  <form class="new-post-form has-text-info has-text-centered">
    <div class="m-2 is-size-5">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="m-2 is-size-5">
      <label for="contents">Content:</label>
      <textarea class='textarea is-small' id="contents" name="contents"></textarea>
    </div>
    <button type="submit" class="btn button is-info m-2">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>