<section>
  <h2 class="has-text-info m-2 is-size-4">Your Dashboard: Previous Post Below</h2>

  {{#if posts.length}}
    <div>
      {{#each posts as |post|}}
      {{> post-info post}}
    </div>
    <a href="/dashboard/edit/{{post.id}}"><button class='button is-info m-2'>Edit</button></a>
    {{/each}}
  {{else}}
  <h3>You have not posted any content yet!</h3>
{{/if}}

<a href="/dashboard/add-post"><button class='button is-info m-2'>Add a New Post</button></a>
</section>
