<section>
  <h2>Your Dashboard: Previous Post Below</h2>

  {{#if posts.length}}
    <div>
      {{#each posts as |post|}}
      {{> post-info post}}
    </div>
    {{/each}}
{{/if}}

<a href="/dashboard/add-post"><button>Add a New Post</button></a>
</section>
