<form class="login-form has-text-info">
  <div class="m-4">
    <label for="username-login">User Name:</label>
    <input type="text" id="username-login" />
  </div>
  <div class="m-4">
    <label for="password-login">Password:</label>
    <input class="is-rounded" type="password" id="password-login" />
  </div>
  <div class="m-2">
    <button class='button is-info' type="submit">login</button>
    <a href="/signup">Click here to create an account!</a>
  </div>
</form>

<script src="/javascript/login.js"></script>