
<form class="signup-form has-text-info has-text-centered">
  <div class="field-is-horizontal is-normal m-4">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="field-is-horizontal is-normal m-4">
    <button class='button is-info' type="submit">signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>