

<div class="post-list">
  <div>
    {{> post-info post }}
  </div>
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class='textarea is-small' name="comment-body"></textarea>
  </div>

  <div class="m-2">
    <button class='button is-info' type="submit">add comment</button>
  </div>
</form>
{{/if}}
<div>
{{> comments post.comments}}
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}